.app-wrapper {
  display: grid; /* значит, что все первые потомки, которые лежат в диве с classname app-wrapper, будут вести себя как грид элементы*/
  width: 2000px;
  margin: 0 auto;
  grid-template-areas: /* по какому шаблону выстроены areas */
  "h h" /* значит, что в первой строке мы займем 2 колонки */
  "n c"; /* nav займет 1 колонку, content 2ю колонку*/
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(165, 195, 221);
}
